body {
  padding-left: 15px;
  padding-right: 15px;
	
}

#wrapper {
  position: absolute;
}

#content {
  position: absolute;
  left:290px;
  width:auto;
}

#sidebar {
  position: absolute;
  width: 250px;
}