<h3>All Scenes</h3>
 
<table class="resources">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Description</th>
	  </tr>
	</thead>
	<tfoot>
		<tr>
			<td></td>
		</tr>
	</tfoot>
	<tbody>
	<% @scenes.each do |scene| %>
	  <tr>
	    <td><%=h scene.name %></td>
	    <td><%=h scene.description %></td>
	  </tr>
	<% end %>
	</tbody>
</table>