<h3>all stages</h3>
 
<table class="resources">
	<thead>
	  <tr>
	    <th>name</th>
	    <th>description</th>
	  </tr>
	</thead>
	<tfoot>
		<tr>
			<td></td>
		</tr>
	</tfoot>
	<tbody>
	<% @stages.each do |stage| %>
	  <tr>
	    <td><%=h stage.name %></td>
	    <td><%=h stage.description %></td>
	  </tr>
	<% end %>
	</tbody>
</table>