<h1>games</h1>
 
<table>
  <tr>
    <th>code</th>
    <th>created at</th>
    <th>used on</th>
  </tr>
 
<% @games.each do |game| %>
  <tr>
    <td><%=h game.code.secret %></td>
    <td><%=h game.created_at %></td>
    <td><%=h game.deleted_at %></td>

    <td><%= link_to 'show', resource(:admin, game) %></td>
  </tr>
<% end %>
</table>
