<h3>games</h3>
 
<table class="resources">
 	<thead>
		<tr>
	    <th>id</th>
	    <th>code</th>
	    <th>created</th>
	    <th>updated</th>
	  </tr>
	</thead>
  <tfoot>
		<tr><td></td></tr>
  </tfoot>
	<tbody>
	<% @games.each do |game| %>
	  <tr>
	    <td><%=h game.id %></td>
	    <td><%=h game.code %></td>
	    <td class="date"><%=h game.created_at.formatted(:dmy) %></td>
	    <td class="date"><%=h game.updated_at.formatted(:dmy) %></td>
	  </tr>
	<% end %>
	</tbody>
</table>
