<h1>showing scene</h1>

<label>name</label>
<p><%=h @scene.name %></p>

<label>description</label>
<p><%=h @scene.description %></p>

<label>uri</label>
<p><%=h @scene.uri %></p>
 
<%= link_to 'all scenes', resource(:admin, :scenes) %>
