<h3>Games</h3>
 
<table class="resources">
	<thead>
	  <tr>
	    <th>Code</th>
	    <th>Created At</th>
	    <th>Used On</th>
	  </tr>
	</thead>#
	<tfoot>
		<tr>
			<td></td>
		</tr>
	</tfoot>
	<tbody>
	<% @games.each do |game| %>
	  <tr>
	    <td><%=h game.code.secret %></td>
	    <td class="date"><%=h game.created_at %></td>
	    <td class="date"><%=h game.deleted_at %></td>
	  </tr>
	<% end %>
	</tbody>
</table>
