  <%= error_messages_for session.authentication %>
  <% @login_param = Merb::Authentication::Strategies::Basic::Base.login_param %>
  <% @password_param = Merb::Authentication::Strategies::Basic::Base.password_param %>

  <div id="login" class="">
    <form id="login-form" action="/login" method="post">
      <input type="hidden" value="PUT" name="_method"/>
      <p>
        <label for="email">Benutzername (E-Mail)</label>
        <input id="email" name="email" type="text"/>
      </p>
      <p>
        <label for="password">Passwort</label>
        <input id="password" name="password"type="password"/>
      </p>
      <p id="login-submit">
        <input type="submit" value="Anmelden" class="ui-state-default ui-corner-all" />
      </p>
    </form>
  </div>